<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>helloFlash - {{ title }}</title>
	{% else %}
		<title>helloFlash - Sans titre</title>
	{% endif %}
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>

	<header class="site-header">
	      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		<div class="container">
		  <a class="navbar-brand mr-4" href="/">helloFlask</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarToggle">
		    <div class="navbar-nav mr-auto">
		      <a class="nav-item nav-link" href="/">Home</a>
		      <a class="nav-item nav-link" href="/about">About</a>

		    </div>
		    <!-- Navbar Right Side -->
		    <div class="navbar-nav">
		      		      <a class="nav-item nav-link" href="/form">Form</a>
		    </div>
		  </div>
		</div>
	      </nav>
	    </header>
	

<div class="container">	
	<h1>Page Libre CAR JE SUIS FOU</h1>
	<h2> Mouhahahahahahahahaahaahahhaha </h2>
</div> 


<h1>Oh pauvres mortels, commencez donc par contempler ces images de chatons tristes !</h1>


<image src="{{ url_for('static', filename='images/c2.jpg')}}">
<image src="{{ url_for('static', filename='images/c3.jpeg')}}">
<image src="{{ url_for('static', filename='images/c4.jpeg')}}">
<image src="{{ url_for('static', filename='images/c5.webp')}}">
<image src="{{ url_for('static', filename='images/orin.png')}}">

<h2>Voyez, je vous maudits maintenant à regarder des chapeaux sur leur têtes !</h2>

<image src="{{ url_for('static', filename='images/cc1.jpg')}}">
<image src="{{ url_for('static', filename='images/cc2.jpeg')}}">
<image src="{{ url_for('static', filename='images/cc3.jpg')}}">
<image src="{{ url_for('static', filename='images/cc4.jpg')}}">
<image src="{{ url_for('static', filename='images/chen.jpg')}}">

<h2>Encore en vie ?! succombez-donc à mes diaboliques serviteurs, vous succomberez à mon prochain assault ! !</h2>

<h2> De leurs crocs fracassants, ils ont déjà réduit en poussières ceux qui leurs ont fait face.</h2>

<h2> Ils ont l'agilité du tigre et la férocité du lion, peuvent s'infiltrer tel des serpents et vous réduire au silence même dans les ténèbres les plus sombres.</h2>

<h2> Vous ne saurez point leur faire face, ils vous encercleront et réduiront à néant tout espoir de fuite ou de combat.</h2>

<h2>Ils obéiront à n'importe lequel de mes ordres, fut-il celui de vos derniers supplices.</h2>

<h2> Je vous invoque, les quatres cavaliers de l'apocalypse !</h2>


<div class="container">
<image src="{{ url_for('static', filename='images/gundamn.jpg')}}">
</div>



	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
 

</body>

</html>




