<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>helloFlash - {{ title }}</title>
	{% else %}
		<title>helloFlash - Sans titre</title>
	{% endif %}
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>

	<header class="site-header">
	      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		<div class="container">
		  <a class="navbar-brand mr-4" href="/">helloFlask</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarToggle">
		    <div class="navbar-nav mr-auto">
		      <a class="nav-item nav-link" href="/">Home</a>
		      <a class="nav-item nav-link" href="/about">About</a>

		    </div>
		    <!-- Navbar Right Side -->
		    <div class="navbar-nav">
		      		      <a class="nav-item nav-link" href="/form">Form</a>
		    </div>
		  </div>
		</div>
	      </nav>
	    </header>

	
	
<div class="container">	
	<h1>Page de Formulaire. Adieu.</h1>
		<h3>Postez donc ici.</h3>
 


<form action ="/form" method="post">
	<p>Veuillez remplire ici le nom et prénom d'une personne de votre choix dont vous connaissez le visage.</p>
	<p><input type="text" name="nm" /></p>
	<p><input type="submit" name="Executer" /></p>
</form>



<h3>Après avoir soumis correctement le nom et le prénom de votre choix, il ne vous reste plus qu'à patienter 40 secondes et à prendre de leurs nouvelles pour admirer le résultat.</h3>

</div> 


<h1>I</h1>
<h1>I</h1>
<h1>I</h1>
<h1>I</h1>
<h1>I</h1>
<h1>I</h1>
<h1>I</h1>
<h1>I</h1>
<h1>V</h1>

<h2>Vous pouvez voir ici l'identité de nos grands gagnants désignés par nos magnifiques utilisateurs!<h3>

<div class="container">
	<h3> Brittany Murphy</h3>
	<h3> Stanley Kubrick</h3>
	<h3> Annie Cordy</h3>
	<h3> Albert Uderzo</h3>
	<h3> Diego Maradona</h3>
	<h3> Michael Jackson</h3>
</div>

	
{% for names in liste_noms %}
	<div class="container">	
		<h3> {{names}}</h3>
	</div>	
{% endfor %}
	



	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

	
</body>

</html>




